* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

[v-cloak] .v-cloak--block {
  display: block;
}
[v-cloak] .v-cloak--inline {
  display: inline;
}
[v-cloak] .v-cloak--inlineBlock {
  display: inline-block;
}
[v-cloak] .v-cloak--hidden {
  display: none;
}
[v-cloak] .v-cloak--invisible {
  visibility: hidden;
}
.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
  display: none;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #8A8A8E;
  color: white;
}

h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 20rem;
  text-align: center;
  opacity: 0.7;
  text-transform: capitalize;
}

.xy-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
  text-transform: capitalize;
}

.title {
  font-weight: normal;
  font-size: 2rem;
  text-transform: capitalize;
  position: absolute;
  top: 2rem;
  left: 20px;
}

.new-word {
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: absolute;
  bottom: 2rem;
  right: 20px;
}
