* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  color: #f8f9fa;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.app-container .icon {
  height: 4.125rem;
  width: 100%;
}

.word-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  height: 4.125rem;
}

.small {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  color: #868e96;
}

.reload-btn {
  position: initial;
  cursor: pointer;
  flex: 0.1 1 auto;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 24rem) {
  h1 {
    font-size: 6rem;
    height: 8.1875rem;
  }

  .reload-btn {
    flex: 0 1 auto;
  }
}

@media only screen and (min-width: 48rem) {
  h1 {
    font-size: 8rem;
    height: 10.9375rem;
  }

  .small {
    font-size: 3rem;
  }

  .reload-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    flex: auto;
  }
}
